<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
        <img src="/i/jms.png" width="50" height="50" alt="jms" class="site-title" style="padding-right: 10px;" /> <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
	  <small>{% icon fa-code %} {{ site.strapline }} | <a style="white-space: nowrap" href="https://twitter.com/jamesoff">{% icon fa-twitter %}@jamesoff</a> | <a style="white-space: nowrap" href="https://github.com/jamesoff">{% icon fa-github %}/jamesoff</a> | <a style="white-space: nowrap" href="https://bitbucket.org/jamesoff">{% icon fa-bitbucket %}/jamesoff</a></small>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
